@{
    ViewData["Title"] = "За проекта";
}
<h1>FlexLog - Твоят фитнес дневник</h1>
<p>Използвани технологии: .NET 10, EF Core, SQLite, Bootstrap.</p>
<p>Кирилка Спасова</p>
<p>Факултетен номер: 0556-imd</p>